@media only screen and (min-width: 700px) {
  nav>.content .navgroup {
    display: flex;
    height: 100%;
  }

  nav>.content .navgroup>.grouplabel {
    display: none;
  }

  nav>.content .navgroup>.groupcontent {
    flex-direction: row;
  }

  nav>.content .groupcontent a {
    transition: border 0.2s;
    border-bottom: 0 solid;
    padding: 0.3em, 0;
  }

  nav>.content .groupcontent a:hover {
    border-bottom: 0.2em solid;
  }
}


@media only screen and (max-width: 700px) {

  nav>.content {
    width: 100%;
    justify-items: right;
  }


  nav>.content .navgroup>.grouplabel {
    display: flex;
    align-items: center;
  }
  
  nav>.content .navgroup>.groupcontent {
    display: block;
    visibility: hidden;
    flex-direction: column;

    position: absolute;
    top: 100%;

    color: black;
    background-color: #EEEEEE;
    text-align: left;
    border-radius: 0 0 0.3em 0.3em;
    align-self: flex-start;
    transform: translateY(4em);
    opacity: 0;
    transition: all 0.3s;
  }

  nav>.content .groupcontent .item {
    padding: 0.5em;
  }

  nav>.content .groupcontent .item~.item {
    border-top: solid 1px black;
  }

  nav>.content .navgroup:hover>.groupcontent, nav>.content .navgroup:focus>.groupcontent {
    visibility: visible;
    transform: translateY(0em);
    opacity: 100;
  }

  nav>.content .groupcontent a {
    transition: color 0.2s;
    color: black;
  }
  nav>.content .groupcontent a:hover {
    color: #525252;
  }
}


nav>.content {
  height: 100%;
  width: 100%;
  text-align: center;
}

nav>.content, nav>.content .groupcontent {
  display: flex;
  align-items: center;
}

nav>.content .item {
  display: block;
}


nav>.content .grouplabel {
  margin: 0 1em;
}

nav>.content .item {
  margin: 0 1em;
  display: flex;
  align-items: center;
}

nav>.content .navgroup>.grouplabel i {
  margin: 0 0.3em;
}

nav>.content .navgroup {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.socialmedia {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.socialmedia a {
  color: white;
  font-size: larger;
}

.socialmedia i {
  font-size: 39px;
}

.youtubelink {
  color: red;
}

.facebooklink {
  color: #4267B2;
}

.textmargin {
  height: 20px;
}

.text {
  border-bottom: transparent 0px solid;
  transition: 0.2s;
}

.text:hover {
  border-bottom: white 4px solid;
  border-radius: 3px;
}

.bottomnav {
  background-color: #21204b;
  padding-top: 30px;
}

.bottomnav>.navbar>.links>.navspace>a,
.bottomnav>.navbar>.links>.navspace>.dropdown>.dropbtn {
  color: white;
}