body {
    font-size: 5mm;
    margin: 0px;
    
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
}

@media (min-width: 400px) {
    header {
        font-size: 2em;
    }
}
@media (max-width: 399px) {
    header {
        font-size: 6vw;
    }
}


@keyframes item-entrance {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        opacity: 100;
        transform: translateY(0);
    }
}


header h1, header h2 {
    color: white;
    letter-spacing: 0.2em;
    font-weight: 300;
    background-color: #20202060;
    margin: 0.2em;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    animation: item-entrance 2s ease-out;
    opacity: 1;
}

footer {
    background-color: lightgrey;
    font-size: 0.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: #222222;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

nav a {
    color: inherit;
    text-decoration: none;
}